/* Config geral do html */
* {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}


/* "Div" Principal */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #ff000a;
}


/* Config geral do LOGO e NAV */
nav {
    width: 90%;
    position: sticky;
    margin: 50px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}


/* Config do Logotipo */
.logo {
    flex-basis: 20%;
}

.logo img {
    width: 100px;
}


/* Config dos Navegadores */
.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    font-size: 14pt;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
}


/* Config da "Div" de Informações */
.information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}


/* Config das Features */
h1 {
    font-size: 100pt;
    color: #fff;
    font-size: 18pt;
}

p {
    color: #fff;
    font-size: 11pt;;
}

.feature img {
    width: 70px;
}

.feature {
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div {
    margin-left: 30px;
}

.feature div p{
    margin-top: 8px;
}

.one img {
    width: 70px;
    height: 70px;
}

.one {
    top: 445px;
    right: -300px;
}

.two {
    top: -65px;
    left: 360px;
    transform: rotate(-90deg);
}

.three img {
    width: 70px;
}

.three {
    bottom: 460px;
    left: -210px;
    transform: rotate(-180deg);
}

.four img {
    width: 45px;
}

.four {
    bottom: -205px;
    right: 240px;
    transform: rotate(-270deg);
}



/* Config da imagem central */
.nSwitch {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translateY(-50%);
    z-index: 1;
}


/* Config da "Div" de Características */
.controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3 {
    font-size: 16pt;
    margin: 15px 0;
    color: #fff;
}

#upButton {
    width: 15px;
    cursor: pointer;
}

#downButton {
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

/* Config da Cor de fundo do "circle" */
.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}